@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap');

header {
	background: url(sweets.jpg) center / cover;
    position: relative;
	height: 20vh;
}

main{
    background: url(kei_back.jpg) center / cover;
    position: relative;
}

h1{
    font-family: 'Kaisei Decol', serif;
}

h2{
    font-family: 'Kaisei Decol', serif;
}
footer {
    position: relative;
	height: 5vh;
}